<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
</head>
<body ng-app="">
<h2>My Favourite Cities</h2>
<div ng-repeat="city in ['Liverpool','Perth','Sydney','Dublin','Paris']">
    {{$index}}. {{city}}
    {{$first ? '(This is the first row)' : ''}} {{$last ? '(This is the last row)' : ''}}
</div>
</body>
</html>