<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        var module = angular.module('myapp', []);
        module.controller("MyController", function ($scope, $document) {
            $scope.docTitle = $document[0].title;
        });
    </script>
</head>
<body ng-controller="MyController">
<p>The page title is: {{docTitle}}</p>
</body>
</html>