<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        var module = angular.module('myapp', []);
        module.controller("MyController", function ($scope, $location) {
            $scope.url = $location.absUrl();
            $scope.protocol = $location.protocol();
            $scope.host = $location.host();
            $scope.port = $location.port();
        });
    </script>
</head>
<body ng-controller="MyController">
<p>The URL is: {{url}}</p>
<ul>
    <li>{{protocol}}</li>
    <li>{{host}}</li>
    <li>{{port}}</li>
</ul>
</body>
</html>