<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        var module = angular.module('myapp', []);
        module.controller("MyController", function ($scope, $window) {
            $scope.winWidth = $window.innerWidth;
            $scope.winWidth2 = $window.outerWidth;
        });
    </script>
</head>
<body ng-controller="MyController">
<p>Window width: {{winWidth}}px</p>
<p>{{winWidth2}}</p>
</body>
</html>