<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        function MyFirstCtrl($scope) {
            var employees = ["a", "b", "c", "d"];
            $scope.ourEmployees = employees;
        }
    </script>
</head>
<body ng-controller="MyFirstCtrl">
<h2>Number of employees : {{ourEmployees.length}}</h2>

</body>
</html>