<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="HelloCtrl" ng-cloak>
    <h1>Hello, {{name}}!</h1>
    <p>It's great to see you again, you haven't logged in since {{lastLoggedIn}}</p>
    <p>We hope you have a {{typeOfDay}} day!</p>
</div>
<div ng-controller="HelloCtrl">
    Hello, <span ng-bind="name"></span>!
</div>
</body>
</html>