<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="angular-animate.min.js"></script>
    <script>
        var app = angular.module('app', ['ngAnimate']);
        app.controller('homeController', function ($scope) {
            $scope.on = false;
        });
    </script>
    <style>
        /* starting */
        .my-first-animation.ng-enter {
            transition: .5s all;
            opacity: 0;
        }

        /* ending */
        .my-first-animation.ng-enter.ng-enter-active {
            opacity: 1;
        }
    </style>
</head>
<body ng-controller="homeController">
<button ng-click="on=!on">Toggle Content</button>
<div class="my-first-animation" ng-if="on">
    This content will fade in over half a second.
</div>
</body>
</html>