<!DOCTYPE html>
<html lang="en" ng-app="myAppModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="myAppModule.js"></script>
</head>
<body ng-controller="MyFilterDemoCtrl">
<p>First Name: {{data.firstName | toTitleCase}}</p>
<p>Surname: {{data.surname | toTitleCase}}</p>
<p>Full Name: {{ data.firstName + data.surname | toTitleCase}}</p>
</body>
</html>