<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        function MyFilterDemoCtrl($scope) {
            var someData = {
                firstName: "a",
                surname: "b",
                dateJoined: new Date(2010, 2, 23),
                consumption: 123.658454,
                plan: "super-basic-plan"
            };
            $scope.data = someData;
        }
    </script>
</head>
<body ng-app ng-controller="MyFilterDemoCtrl">
<p>medium:<strong> {{data.dateJoined | date:'medium'}} </strong></p>
<p>mediumDate:<strong> {{ data.dateJoined | date:'mediumDate'}} </strong></p>
<p>shortDate:<strong> {{ data.dateJoined | date:'shortDate'}} </strong></p>
<p>This customer joined in the month of {{ data.dateJoined | date:'MMMM'}} on a {{
    data.dateJoined | date:'EEEE'}} at {{ data.dateJoined | date:'ha'}}</p>
</body>
</html>