<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        function MyFilterDemoCtrl($scope) {
            var someData = {
                firstName: "a",
                surname: "b",
                dateJoined: new Date(2010, 2, 23),
                consumption: 123.125478,
                plan: "super-basic-plan",
                monthlyUsageHistory: [
                    123.659855,
                    89.645222,
                    97.235644,
                    129.555555,
                    188.699855,
                    65.652545,
                    123.659855,
                    89.645222,
                    97.235644,
                    129.555555,
                    188.699855,
                    65.652545
                ]
            };
            $scope.data = someData;
        }
    </script>
</head>
<body ng-app ng-controller="MyFilterDemoCtrl">
<ul>
    <li ng-repeat="gigabytes in data.monthlyUsageHistory | limitTo:5">
        {{gigabytes | number:1}}
    </li>
</ul>
</body>
</html>