<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        function MyFilterDemoCtrl($scope) {
            var someData = {
                firstName: "ABC",
                surname: "DEF",
                dateJioned: new Date(2010, 5, 5),
                consumption: 123.0125478,
                plan: "super-basic-plan"
            };
            $scope.data = someData;
        }
    </script>
</head>
<body ng-app ng-controller="MyFilterDemoCtrl">
<p>
    Consumption : {{data.consumption}}<br/>
    Consumption : {{data.consumption | number:11}}
</p>
</body>
</html>