<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script>
        function MyFilterDemoCtrl($scope) {
            var someData = {
                firstName: "abcTYU",
                surname: "defPOI",
                dateJoined: new Date(2010, 3, 5),
                consumption: 123.2546,
                plan: "super-basic-plan"
            };
            $scope.data = someData;
        }
    </script>
</head>
<body ng-app ng-controller="MyFilterDemoCtrl">
<br>
    <strong>First Name</strong>: {{data.firstName}}<br/>
    <strong>Surname</strong>: {{data.surname}}
</p>
<p>
    <strong>First Name</strong>: {{data.firstName | lowercase}}<br/>
    <strong>Surname</strong>: {{data.surname | lowercase}}
</p>

</body>
</html>