<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Contact Page</h1>
    <form style="width:25%;margin:auto;" role="form">
        <div class="form-group">
            <input ng-model="subject" type="text" class="form-control" id="subject" placeholder="Subject">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="message" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Send Message</button>
    </form>
</div>
</div>
</body>
</html>