<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <p>{{ message }}</p>
    <div>
    </div>
</div>
</body>
</html>