<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="simple.css">
    <script src="angular.min.js"></script>
    <script src="simple.js"></script>
</head>
<body>
<div ng-app="myapp" ng-controller="MyController">
    <div ng-show="registrationForm.$pristine">Form input has not yet started</div>
    <div ng-show="registrationForm.$dirty">Form input has started</div>
    <form name="registrationForm" ng-submit="person.register()" novalidate>
        <input type="text" placeholder="First Name" name="firstName" ng-model="person.firstName" required>
        <span ng-show="firstNameInvalid">Please enter a value for First name</span>
        <br/>
        <input type="text" placeholder="Last Name" name="lastName" ng-model="person.lastName" required>
        <span ng-show="lastNameInvalid">Please enter a value for Last name</span>
        <br/>
        <input type="email" placeholder="Email" name="email" ng-model="person.email" required
               class="ng-dirty ng-valid-required ng-valid ng-valid-email">
        <br/>
        <select name="channels" ng-model="person.channels"
                ng-options="obj.value as obj.label for obj in person.channels">
            <option value="">Where did you hear about us?</option>
        </select>
        <br/>
        <input ng-model="person.newsletterOptIn" type="checkbox" name="newsletterOptIn"
               id="newsletterOptIn" value="newsletterOptIn"/>
        <label for="newsletterOptIn">Recieve monthly newsletter</label>
        <br/>
        <input type="submit" value="Register">
    </form>
    <div ng-show="doShow">
        Thank you for taking the time to register!
    </div>
</div>
</body>
</html>