<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="script1.js"></script>
</head>
<body>
<div ng-app="myapp">
    <div ng-controller="MyController">
        <form name="theForm">
            <input type="text" name="firstName" ng-model="person.firstName"/><br/>
            <input type="text" name="firstName" ng-model="person.address.street"/>
        </form>
        <p>
            First name is: {{person.firstName}} <br/>
            Street name is: {{person.address.street}}
        </p>
    </div>
</div>
</body>
</html>