<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input name="save-button" type="button" value="Click me"/>
<input type="submit" name="submit" value="Register"/>
<input placeholder="First Name" type="text" name="first-name" size="20"/>
<input placeholder="First Name" type="text" name="first-name" style="width: 220px;"/>
<input type="checkbox" name="chknewsletter" value="opt-in-newsletter"/>
<input type="checkbox" name="chknewsletter" value="opt-in-newsletter" checked/>
<input type="password" name="pin" id="pin">
<div>
    <input type="radio" name="station" id="rad1" value="triple-m"/> <label for="rad1">Triple M</label>
</div>
<div>
    <input type="radio" name="station" id="rad2" value="today-fm"/> <label for="rad2">Today FM</label>
</div>
<div>
    <input type="radio" name="station" id="rad3" value="abc-news"/> <label for="rad3">ABC News</label>
</div>
<div>
    <input type="radio" name="station" id="rad4" value="triple-j"/> <label for="rad4">Triple J</label>
</div>
<textarea name="description"></textarea>
<textarea name="description" rows="4" cols="50" ></textarea>
<!-- this renders as a drop down lst -->
<select name="favorite-food" id="favorite-food">
    <option>Eggs</option>
    <option>Fish</option>
    <option>Bread</option>
</select>
<!-- this renders as a all-in-one list -->
<select name="favorite-food" id="favorite-food" multiple >
    <option>Eggs</option>
    <option>Fish</option>
    <option>Bread</option>
</select>
<select name="favorite-food" id="favorite-food">
    <option value="">Choose your favorite food</option>
    <option value="eggs">I love Eggs!</option>
    <option value="fish">Fish is my fave!</option>
    <option value="bread">Bread rocks!</option>
</select>
<label for="first-name">Enter Your First Name</label>
<input type="text" name="first-name" id="first-name" size="20"/>
<label for="terms">I agree to the terms and conditions</label>
<input type="checkbox" name="terms" id="terms" value="agree">
<input type="text" name="firstName" ng-model="firstName"/>
</body>
</html>