<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
    <script src="test5.js"></script>
</head>
<body>
<div ng-app="myapp" ng-controller="MyController">
    <form name="theForm">
        <div>
            <input type="text" name="firstName" ng-model="firstName"> <br/>
            <input type="button" value="Show first name" ng-click="showFirstName()"/>
        </div>
    </form>
</div>
</body>
</html>