<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
</head>
<body>
<button ng-click="count = count + 1" ng-init="count = 0">Increment</button>
count : {{count}}
</body>
</html>