<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
</head>
<body>
<h1>Expression Samples</h1>
<p>6 + 4 = {{6 + 4}}</p>
<p>{{"Beginning AngularJs".toUpperCase()}}</p>
<p>{{"ABCDEFG".indexOf("D")}}</p>
<p>{{1 == 1 ? "RED" : "BLUE"}}</p>

</body>
</html>