<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
</head>
<body>
<label>City: </label><input ng-model="city" type="text">
<p>You entered : {{city}}</p>
</body>
</html>