<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <script src="angular.min.js"></script>
</head>
<body>
<p ng-app> Hello {{"Wor" + "ld"}}</p>
<p>Hello {{"Wor" + "ld"}}</p>
</body>
</html>